default: &default
    flask: &flaskDefault
        debug: False
        bind_ip: 127.0.0.1
        bind_port: 5000
        secret_key: verysecretkeythisis

    database: &databaseDefault
        ip: 127.0.0.1
        port: 3306
        username: root
        password:

    klikbca: &klikbcaDefault
        username: username1234
        pin: "000000"

test:
    <<: *default
    flask:
        <<: *flaskDefault
        debug: True

    database:
        <<: *databaseDefault
        database: klik_test

development:
    <<: *default
    flask:
        <<: *flaskDefault
        bind_port: 5000
        debug: True

    database:
        <<: *databaseDefault
        database: klik_dev

    klikbca:
        <<: *klikbcaDefault
        username: awesomer4321
        pin: "123456"

staging:
    <<: *default

    database:
        <<: *databaseDefault
        username: klik_stage
        password: v3RY57r0NgpA5swORd
        database: klik_stage

    klikbca:
        <<: *klikbcaDefault
        username: awesomer7652
        pin: "123456"

production:
    staging:
    <<: *default

    database:
        <<: *databaseDefault
        username: klik_production
        password: v3RY57r0NgpA5swORd!
        database: klik_production

    klikbca:
        <<: *klikbcaDefault
        username: awesomer0194
        pin: "123456"
